*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 100%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
@media (max-width: 1080px){
    flex-container{
        flex-direction: column;
    }
}
@media (max-width: 1080px) {
    .wrapper {
        margin: auto;
    }
}
h1{
    text-align: center;
    font-size: 45px;
    margin-top: 100px;
}
h2{
    text-align: left;
    margin-left: 25px;
}
ul{
    list-style-type: none; /*removes bullets*/
    margin: 0; /*removes browser default settings*/
    padding: 0;
    padding-top: 5px;
    overflow: hidden;
    text-align: right;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
@media (max-width: 350px){
        ul{
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
    }
}
li{
    float: none;
    display: inline-block; /*to display elements in one line but then cannot use float*/
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    text-decoration: none;
}
@media (max-width: 350px){
    li a{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 50px;
}
}
li a:hover{
    background-color: rgb(116, 102, 97);
    color: white;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}
.logo{
    position: absolute;
    content: "";
    margin-left: 30px;
    padding-top: 10px;
    max-width: 100%;
    height: auto;
}
.gallery{
    width: 100%;
    height: auto;
    margin: 5px;
    float: left;
    width: 600px;
}
.middle{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.gallery img{
    max-width: 100%;
    height: auto;
}
@media (max-width: 1080px) {
    .desc {
        max-width: 75%;
        max-height: 75%;
    }
}
.desc-box{
    display: flex;
    justify-content: center;
    text-align: center;
}
.desc{
    padding: 10px;
    margin-bottom: 25px;
    font-size: 16px;
    text-align: justify;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.line-under{
    margin-left: 10px;
    border-top: 1px solid black;
    margin-right: 10px;
    margin-bottom: 5px;
}
.container{
    margin-left: 40px;
    margin-right: 10px;
    padding-top: 20px;
    height: 150px;
}
@media (max-width: 450px) {
    .container {
        height: 180px;
    }
}
@media (max-width: 300px) {
    .container {
        height: 240px;
    }
}
.author-bilde{
    float: left;
}
.author-bilde img{
    height: 100%;
    border-radius: 75%;
    margin-right: 10px;
    /*margin and not padding; padding distrubs the circle*/
}
.tekst{
    width: auto;
    overflow: hidden;
}
.author-box2{
    padding-top: 20px;
    margin-left: 10px;
    border-top: 1px solid black;
    margin-bottom: 20px;
    margin-right: 10px;
}
.text-margin{
    margin-bottom: 10px;
    margin-left: 30px;
}
footer{
    text-align: center;
    border-top: 3px solid black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
  }